# Gradle / Android
.gradle/
build/
local.properties
*.apk
*.aab
*.keystore
*.jks
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Node
node_modules/
dist/

# Logs
*.log
